@font-face {
  font-family: "Doto";
  src: url("../assets/fonts/doto-webfont.woff2") format("woff2");
  src: url("../assets/fonts/doto-webfont.woff") format("woff");
}

$text-color: green;

.blue {
  color: $text-color !important;
  font-family: "Doto" !important;
}
