
@text-color: green;

.scoped-text {
  color: @text-color !important;
  font-size: 10px;
  
}

.scoped-text-two{
  color: brown;
  font-size: 15px;
}
.scoped-text-three{
  color: rgb(85, 175, 211);
  font-size: 20px;
}

.scoped-text-four{
  color: rgb(53, 18, 53);
  font-size: 25px;
}